/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* demo 22*/
:root {
    --mycolor:#611097;
    --mybackground:rgba(16, 110, 234, 0.8);
    --secondary-color:#536390;
    --font-color:#222222;
    --heading-color:#292922;
    --secondary-bg:#f6f9fe;
  }
  
  [data-theme="dark"] {
    --mycolor:#d1550d;
    --mybackground:#161625;
    --secondary-color:#6307af;
    --font-color:#e1e1ff;
    --heading-color:#818cab;
    --bs-body-bg:#0c0b0c;
    --secondary-bg:#090a0aea;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: var(--mycolor);
    text-decoration: none;
  
    &:hover {
      color: var(--secondary-color);
      text-decoration: none;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  
    &:before {
      content: "";
      position: fixed;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      border: 6px solid var(--mycolor);
      border-top-color: #e2eefd;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      -webkit-animation: animate-preloader 1s linear infinite;
      animation: animate-preloader 1s linear infinite;
    }
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--mycolor);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  
    i {
      font-size: 28px;
      color: #fff;
      line-height: 0;
    }
  
    &:hover {
      background: var(--secondary-color);
      color: #fff;
    }
  
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  /*slider switch css */
  
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin: 0 15px;
  
    em {
      margin-left: 10px;
      font-size: 1rem;
    }
  }
  
  .theme-switch {
    display: inline-block;
    height: 27px;
    position: relative;
    width: 55px;
  
    input {
      display: none;
    }
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  
    &:before {
      background-color: #fff;
      bottom: 4px;
      content: "";
      height: 20px;
      left: 4px;
      position: absolute;
      transition: .4s;
      width: 20px;
    }
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  
    &:before {
      transform: translateX(26px);
    }
  }
  
  .slider.round {
    border-radius: 34px;
  
    &:before {
      border-radius: 50%;
    }
  }
  
  /* end slider switch css */
  
  #topbar {
    background: var(--mycolor);
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
  
    .contact-info i {
      font-style: normal;
      color: #fff;
  
      a, span {
        padding-left: 5px;
        color: #fff;
      }
  
      a {
        line-height: 0;
        transition: 0.3s;
        transition: 0.3s;
  
        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  
    .social-links a {
      color: rgba(255, 255, 255, 0.7);
      line-height: 0;
      transition: 0.3s;
      margin-left: 20px;
  
      &:hover {
        color: white;
      }
    }
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  #header {
    background: var(--bs-body-bg);
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  
    &.fixed-top {
      height: 70px;
    }
  
    .logo {
      font-size: 30px;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-weight: 600;
      letter-spacing: 0.8px;
      font-family: "Poppins", sans-serif;
  
      a {
        color: var(--font-color);
  
        span {
          color: var(--mycolor);
        }
      }
  
      img {
        max-height: 160px;
      }
    }
  }
  
  .scrolled-offset {
    margin-top: 70px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  
  .navbar {
    padding: 0;
  
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
  
    li {
      position: relative;
    }
  
    > ul > li {
      white-space: nowrap;
      padding: 10px 0 10px 28px;
    }
  
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 3px;
      font-size: 15px;
      font-weight: 600;
      color: var(--font-color);
      white-space: nowrap;
      transition: 0.3s;
      position: relative;
  
      &:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3px;
        font-size: 15px;
        font-weight: 600;
        color: var(--font-color);
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
      }
  
      i, &:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
      }
  
      &:hover:before {
        visibility: visible;
        width: 100%;
      }
    }
  
    > ul > li > a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -6px;
      left: 0;
      background-color: var(--mycolor);
      visibility: hidden;
      width: 0px;
      transition: all 0.3s ease-in-out 0s;
    }
  
    li:hover > a:before, .active:before {
      visibility: visible;
      width: 100%;
    }
  
    a:hover {
      color: var(--mycolor);
    }
  
    .active {
      color: var(--mycolor);
  
      &:focus {
        color: var(--mycolor);
      }
    }
  
    li:hover > a {
      color: var(--mycolor);
    }
  
    .dropdown {
      ul {
        display: block;
        position: absolute;
        left: 28px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
  
        li {
          min-width: 200px;
        }
  
        a {
          padding: 10px 20px;
          font-weight: 400;
  
          i {
            font-size: 12px;
          }
  
          &:hover {
            color: var(--mycolor);
          }
        }
  
        .active:hover, li:hover > a {
          color: var(--mycolor);
        }
      }
  
      &:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
  
      .dropdown {
        ul {
          top: 0;
          left: calc(100% - 30px);
          visibility: hidden;
        }
  
        &:hover > ul {
          opacity: 1;
          top: 0;
          left: 100%;
          visibility: visible;
        }
      }
    }
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown {
      ul {
        left: -90%;
      }
  
      &:hover > ul {
        left: -100%;
      }
    }
  }
  
  /**
  * Mobile Navigation 
  */
  
  .mobile-nav-toggle {
    color: var(--font-color);
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  
    &.bi-x {
      color: #fff;
    }
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
  
    .mobile-nav-toggle {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  
    ul {
      display: block;
      position: absolute;
      top: 55px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      padding: 10px 0;
      background-color: #fff;
      overflow-y: auto;
      transition: 0.3s;
    }
  
    a {
      padding: 10px 20px;
      font-size: 15px;
      color: var(--font-color);
  
      &:focus {
        padding: 10px 20px;
        font-size: 15px;
        color: var(--font-color);
      }
  
      &:hover:before {
        visibility: hidden;
      }
    }
  
    > ul > li {
      padding: 0;
    }
  
    li:hover > a:before, .active:before {
      visibility: hidden;
    }
  
    a:hover, .active, li:hover > a {
      color: var(--mycolor);
    }
  
    .getstarted {
      margin: 15px;
  
      &:focus {
        margin: 15px;
      }
    }
  
    .dropdown {
      ul {
        position: static;
        display: none;
        margin: 10px 20px;
        padding: 10px 0;
        z-index: 99;
        opacity: 1;
        visibility: visible;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  
        li {
          min-width: 200px;
        }
  
        a {
          padding: 10px 20px;
  
          i {
            font-size: 12px;
          }
  
          &:hover {
            color: var(--mycolor);
          }
        }
  
        .active:hover, li:hover > a {
          color: var(--mycolor);
        }
      }
  
      > .dropdown-active {
        display: block;
      }
    }
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  
  #hero {
    width: 100%;
    height: 75vh;
    background: url("../img/hero-bg.jpg") top left;
    background-size: cover;
    position: relative;
  
    &:before {
      content: "";
      background: rgba(255, 255, 255, 0.6);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
  
    .container {
      position: relative;
    }
  
    h1 {
      margin: 0;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      color: var(--font-color);
      font-family: "Poppins", sans-serif;
  
      span {
        color: var(--mycolor);
      }
    }
  
    h2 {
      color: #555555;
      margin: 5px 0 30px 0;
      font-size: 24px;
      font-weight: 400;
    }
  
    .btn-get-started {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 10px 28px;
      border-radius: 4px;
      transition: 0.5s;
      color: #fff;
      background: var(--mycolor);
  
      &:hover {
        background: var(--secondary-color);
      }
    }
  
    .btn-watch-video {
      font-size: 16px;
      transition: 0.5s;
      margin-left: 25px;
      color: var(--font-color);
      font-weight: 600;
      display: flex;
      align-items: center;
  
      i {
        color: var(--mycolor);
        font-size: 32px;
        transition: 0.3s;
        line-height: 0;
        margin-right: 8px;
      }
  
      &:hover {
        color: var(--mycolor);
  
        i {
          color: var(--secondary-color);
        }
      }
    }
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero {
      height: 100vh;
  
      h1 {
        font-size: 28px;
        line-height: 36px;
      }
  
      h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
      }
  
      .btn-get-started, .btn-watch-video {
        font-size: 13px;
      }
    }
  }
  
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: var(--secondary-bg);
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  
    h2 {
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 700;
      padding: 8px 20px;
      margin: 0;
      background: #e7f1fd;
      color: var(--mycolor);
      display: inline-block;
      text-transform: uppercase;
      border-radius: 50px;
    }
  
    h3 {
      margin: 15px 0 0 0;
      font-size: 32px;
      font-weight: 700;
  
      span {
        color: var(--mycolor);
      }
    }
  
    p {
      margin: 15px auto 0 auto;
      font-weight: 600;
    }
  }
  
  @media (min-width: 1024px) {
    .section-title p {
      width: 50%;
    }
  }
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  
  .breadcrumbs {
    padding: 20px 0;
    background-color: #f1f6fe;
    min-height: 40px;
  
    h2 {
      font-size: 24px;
      font-weight: 300;
      margin: 0;
    }
  
    ol {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 14px;
  
      li + li {
        padding-left: 10px;
  
        &::before {
          display: inline-block;
          padding-right: 10px;
          color: #6c757d;
          content: "/";
        }
      }
    }
  }
  
  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }
  
  @media (max-width: 768px) {
    .breadcrumbs {
      .d-flex {
        display: block !important;
      }
  
      ol {
        display: block;
  
        li {
          display: inline-block;
        }
      }
    }
  }
  
  /*--------------------------------------------------------------
  # Featured Services
  --------------------------------------------------------------*/
  
  .featured-services {
    .icon-box {
      padding: 30px;
      position: relative;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
      transition: all 0.3s ease-in-out;
      border-radius: 8px;
      z-index: 1;
  
      &::before {
        content: "";
        position: absolute;
        background: #cbe0fb;
        right: 0;
        left: 0;
        bottom: 0;
        top: 100%;
        transition: all 0.3s;
        z-index: -1;
      }
  
      &:hover::before {
        background: var(--mycolor);
        top: 0;
        border-radius: 0px;
      }
    }
  
    .icon {
      margin-bottom: 15px;
  
      i {
        font-size: 48px;
        line-height: 1;
        color: var(--mycolor);
        transition: all 0.3s ease-in-out;
      }
    }
  
    .title {
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 18px;
  
      a {
        color: #111;
      }
    }
  
    .description {
      font-size: 15px;
      line-height: 28px;
      margin-bottom: 0;
    }
  
    .icon-box:hover {
      .title a, .description, .icon i {
        color: #fff;
      }
    }
  }
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  
  .about .content {
    h3 {
      font-weight: 600;
      font-size: 26px;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 35px;
  
        &:first-child {
          margin-top: 35px;
        }
      }
  
      i {
        background: #fff;
        box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
        font-size: 24px;
        padding: 20px;
        margin-right: 15px;
        color: var(--mycolor);
        border-radius: 50px;
      }
  
      h5 {
        font-size: 18px;
        color: #555555;
      }
  
      p {
        font-size: 15px;
      }
    }
  
    p:last-child {
      margin-bottom: 0;
    }
  }
  
  /*--------------------------------------------------------------
  # Clients
  --------------------------------------------------------------*/
  
  .clients {
    padding: 15px 0;
    text-align: center;
  
    img {
      max-width: 45%;
      transition: all 0.4s ease-in-out;
      display: inline-block;
      padding: 15px 0;
  
      &:hover {
        transform: scale(1.15);
      }
    }
  }
  
  @media (max-width: 768px) {
    .clients img {
      max-width: 40%;
    }
  }
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  
  .services .icon-box {
    text-align: center;
    border: 1px solid #e2eefd;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
  
    .icon {
      margin: 0 auto;
      width: 64px;
      height: 64px;
      background: #f1f6fe;
      border-radius: 4px;
      border: 1px solid #deebfd;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      transition: ease-in-out 0.3s;
  
      i {
        color: var(--secondary-color);
        font-size: 28px;
        transition: ease-in-out 0.3s;
      }
    }
  
    h4 {
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 24px;
  
      a {
        color: var(--font-color);
        transition: ease-in-out 0.3s;
      }
    }
  
    p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }
  
    &:hover {
      border-color: #fff;
      box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.1);
  
      h4 a {
        color: var(--mycolor);
      }
  
      .icon {
        i {
          color: var(--mycolor);
        }
  
        border-color: var(--mycolor);
      }
    }
  }
  
  /*--------------------------------------------------------------
  # Testimonials
  --------------------------------------------------------------*/
  
  .testimonials {
    padding: 80px 0;
    background: url("../img/testimonials-bg.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
    }
  
    .section-header {
      margin-bottom: 40px;
    }
  
    .testimonials-carousel, .testimonials-slider {
      overflow: hidden;
    }
  
    .testimonial-item {
      text-align: center;
      color: #fff;
  
      .testimonial-img {
        width: 100px;
        border-radius: 50%;
        border: 6px solid rgba(255, 255, 255, 0.15);
        margin: 0 auto;
      }
  
      h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0 5px 0;
        color: #fff;
      }
  
      h4 {
        font-size: 14px;
        color: #ddd;
        margin: 0 0 15px 0;
      }
  
      .quote-icon-left, .quote-icon-right {
        color: rgba(255, 255, 255, 0.4);
        font-size: 26px;
      }
  
      .quote-icon-left {
        display: inline-block;
        left: -5px;
        position: relative;
      }
  
      .quote-icon-right {
        display: inline-block;
        right: -5px;
        position: relative;
        top: 10px;
      }
  
      p {
        font-style: italic;
        margin: 0 auto 15px auto;
        color: #eee;
      }
    }
  
    .swiper-pagination {
      margin-top: 20px;
      position: relative;
  
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 1;
      }
  
      .swiper-pagination-bullet-active {
        background-color: var(--mycolor);
      }
    }
  }
  
  @media (min-width: 992px) {
    .testimonials .testimonial-item p {
      width: 80%;
    }
  }
  
  /*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/
  
  .portfolio {
    #portfolio-flters {
      padding: 0;
      margin: 0 auto 15px auto;
      list-style: none;
      text-align: center;
      border-radius: 50px;
      padding: 2px 15px;
  
      li {
        cursor: pointer;
        display: inline-block;
        padding: 10px 15px 8px 15px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        color: #444444;
        margin-bottom: 5px;
        transition: all 0.3s ease-in-out;
  
        &:hover, &.filter-active {
          color: var(--mycolor);
        }
  
        &:last-child {
          margin-right: 0;
        }
      }
    }
  
    .portfolio-item {
      margin-bottom: 30px;
  
      .portfolio-info {
        opacity: 0;
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 0;
        z-index: 3;
        transition: all ease-in-out 0.3s;
        background: rgba(255, 255, 255, 0.9);
        padding: 15px;
  
        h4 {
          font-size: 18px;
          color: #fff;
          font-weight: 600;
          color: var(--font-color);
        }
  
        p {
          color: #555555;
          font-size: 14px;
          margin-bottom: 0;
        }
  
        .preview-link, .details-link {
          position: absolute;
          right: 40px;
          font-size: 24px;
          top: calc(50% - 18px);
          color: #3c3c3c;
        }
  
        .preview-link:hover {
          color: var(--mycolor);
        }
  
        .details-link {
          &:hover {
            color: var(--mycolor);
          }
  
          right: 10px;
        }
      }
  
      .portfolio-links {
        opacity: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 3;
        position: absolute;
        transition: all ease-in-out 0.3s;
  
        a {
          color: #fff;
          margin: 0 2px;
          font-size: 28px;
          display: inline-block;
          transition: 0.3s;
  
          &:hover {
            color: #6ba7f5;
          }
        }
      }
  
      &:hover .portfolio-info {
        opacity: 1;
        bottom: 20px;
      }
    }
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  
  .portfolio-details {
    padding-top: 40px;
  
    .portfolio-details-slider {
      img {
        width: 100%;
      }
  
      .swiper-pagination {
        margin-top: 20px;
        position: relative;
  
        .swiper-pagination-bullet {
          width: 12px;
          height: 12px;
          background-color: #fff;
          opacity: 1;
          border: 1px solid var(--mycolor);
        }
  
        .swiper-pagination-bullet-active {
          background-color: var(--mycolor);
        }
      }
    }
  
    .portfolio-info {
      padding: 30px;
      box-shadow: 0px 0 30px rgba(34, 34, 34, 0.08);
  
      h3 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
      }
  
      ul {
        list-style: none;
        padding: 0;
        font-size: 15px;
  
        li + li {
          margin-top: 10px;
        }
      }
    }
  
    .portfolio-description {
      padding-top: 30px;
  
      h2 {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
      }
  
      p {
        padding: 0;
      }
    }
  }
  
  /*--------------------------------------------------------------
  # Team
  --------------------------------------------------------------*/
  
  .team {
    padding: 60px 0;
  
    .member {
      margin-bottom: 20px;
      overflow: hidden;
      border-radius: 4px;
      background: #fff;
      box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
  
      .member-img {
        position: relative;
        overflow: hidden;
      }
  
      .social {
        position: absolute;
        left: 0;
        bottom: 30px;
        right: 0;
        opacity: 0;
        transition: ease-in-out 0.3s;
        text-align: center;
  
        a {
          transition: color 0.3s;
          color: var(--font-color);
          margin: 0 3px;
          padding-top: 7px;
          border-radius: 4px;
          width: 36px;
          height: 36px;
          background: var(--mybackground);
          display: inline-block;
          transition: ease-in-out 0.3s;
          color: #fff;
  
          &:hover {
            background: var(--secondary-color);
          }
        }
  
        i {
          font-size: 18px;
        }
      }
  
      .member-info {
        padding: 25px 15px;
  
        h4 {
          font-weight: 700;
          margin-bottom: 5px;
          font-size: 18px;
          color: var(--font-color);
        }
  
        span {
          display: block;
          font-size: 13px;
          font-weight: 400;
          color: #aaaaaa;
        }
  
        p {
          font-style: italic;
          font-size: 14px;
          line-height: 26px;
          color: #777777;
        }
      }
  
      &:hover .social {
        opacity: 1;
        bottom: 15px;
      }
    }
  }
  
  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  
  .contact {
    .info-box {
      color: #444444;
      text-align: center;
      box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
      padding: 20px 0 30px 0;
  
      i {
        font-size: 32px;
        color: var(--mycolor);
        border-radius: 50%;
        padding: 8px;
        border: 2px dotted #b3d1fa;
      }
  
      h3 {
        font-size: 20px;
        color: #777777;
        font-weight: 700;
        margin: 10px 0;
      }
  
      p {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  
    .php-email-form {
      box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
      padding: 30px;
  
      .error-message {
        display: none;
        color: #fff;
        background: #ed3c0d;
        text-align: left;
        padding: 15px;
        font-weight: 600;
  
        br + br {
          margin-top: 25px;
        }
      }
  
      .sent-message {
        display: none;
        color: #fff;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        font-weight: 600;
      }
  
      .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
  
        &:before {
          content: "";
          display: inline-block;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          margin: 0 10px -6px 0;
          border: 3px solid #18d26e;
          border-top-color: #eee;
          -webkit-animation: animate-loading 1s linear infinite;
          animation: animate-loading 1s linear infinite;
        }
      }
  
      .form-group {
        margin-bottom: 20px;
      }
  
      input, textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
      }
  
      input:focus, textarea:focus {
        border-color: var(--mycolor);
      }
  
      input {
        padding: 10px 15px;
      }
  
      textarea {
        padding: 12px 15px;
      }
  
      button[type=submit] {
        background: var(--mycolor);
        border: 0;
        padding: 10px 30px;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;
  
        &:hover {
          background: var(--secondary-color);
        }
      }
    }
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  
  #footer {
    background: #fff;
    padding: 0 0 30px 0;
    color: #444444;
    font-size: 14px;
    background: #f1f6fe;
  
    .footer-newsletter {
      padding: 50px 0;
      background: #f1f6fe;
      text-align: center;
      font-size: 15px;
  
      h4 {
        font-size: 24px;
        margin: 0 0 20px 0;
        padding: 0;
        line-height: 1;
        font-weight: 600;
      }
  
      form {
        margin-top: 30px;
        background: #fff;
        padding: 6px 10px;
        position: relative;
        border-radius: 4px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
        text-align: left;
  
        input {
          &[type=email] {
            border: 0;
            padding: 4px 8px;
            width: calc(100% - 100px);
          }
  
          &[type=submit] {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            border: 0;
            background: none;
            font-size: 16px;
            padding: 0 20px;
            background: var(--mycolor);
            color: #fff;
            transition: 0.3s;
            border-radius: 0 4px 4px 0;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  
            &:hover {
              background: #0d58ba;
            }
          }
        }
      }
    }
  
    .footer-top {
      padding: 60px 0 30px 0;
      background: #fff;
  
      .footer-contact {
        margin-bottom: 30px;
  
        h3 {
          font-size: 24px;
          margin: 0 0 15px 0;
          padding: 2px 0 2px 0;
          line-height: 1;
          font-weight: 700;
  
          span {
            color: var(--mycolor);
          }
        }
  
        p {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 0;
          font-family: "Roboto", sans-serif;
          color: #777777;
        }
      }
  
      h4 {
        font-size: 16px;
        font-weight: bold;
        color: #444444;
        position: relative;
        padding-bottom: 12px;
      }
  
      .footer-links {
        margin-bottom: 30px;
  
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
  
          i {
            padding-right: 2px;
            color: var(--mycolor);
            font-size: 18px;
            line-height: 1;
          }
  
          li {
            padding: 10px 0;
            display: flex;
            align-items: center;
  
            &:first-child {
              padding-top: 0;
            }
          }
  
          a {
            color: #777777;
            transition: 0.3s;
            display: inline-block;
            line-height: 1;
  
            &:hover {
              text-decoration: none;
              color: var(--mycolor);
            }
          }
        }
      }
  
      .social-links a {
        font-size: 18px;
        display: inline-block;
        background: var(--mycolor);
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 4px;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
  
        &:hover {
          background: var(--secondary-color);
          color: #fff;
          text-decoration: none;
        }
      }
    }
  
    .copyright {
      text-align: center;
      float: left;
    }
  
    .credits {
      float: right;
      text-align: center;
      font-size: 13px;
      color: #444444;
    }
  }
  
  @media (max-width: 768px) {
    #footer {
      .copyright, .credits {
        float: none;
        text-align: center;
        padding: 2px 0;
      }
    }
  }